p#pogrubienie_koroktov{
    font-size: 33px;
    color: #995CD3;
}
p#pochylona_korotkov{
    font-size: 38pt;
    color: #FDC06F;
}
p#index_gorny_korotkov{
    font-size: 1.3cm;
    color: #AD8E1F;
}
p#index_dolny_korotkov{
    font-size: 2.1cm;
    color: rgb(13%,44%,42%);
}
p#mono_korotkov{
    font-size: 43px;
    color: #2DDE6F;
}
p#powiekszenie_korotkov{
    color: #673EA1;
}
p#pomniejszenie_korotkov{
    color: rgb(48%,38%,14%);
}
/*Artem Korotkov*/